.container {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      ". surveyChart ."
      ". surveyChart ."
      ". . .";
  }
  
  .surveyChart { grid-area: surveyChart; }
  
  